.main-card{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}
.card{
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 20px;
}
.card h2{
  text-align: center;
}
.card p{
  text-align: justify;
}
button{
  padding:8px 12px;
  border-radius: 8px;
  border: none;
  margin-left: auto;
  margin-right: auto;
}